{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Chat del Diálogo</h1>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% else %}
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Diálogo ID: {{ dialogue.dialogueId }}</h3>
        </div>
        <div class="card-body">
            <!-- Aquí puedes agregar la interfaz de chat según sea necesario -->
            <div id="chat-messages">
                <!-- Mensajes de chat -->
                {% for resp in dialogue.dialogue %}
                <div class="chat-message">
                    <strong>{{ resp.prompt }}:</strong> {{ resp.timestamp  }}
                </div>
                <div class="chat-message">
                    <strong>{{ resp.answer }}:</strong> {{ resp.timestamp  }}
                </div>
                {% endfor %}
            </div>
            <form id="chat-form" method="POST" action="{{ url_for('send_message', dialogueId=dialogue.dialogueId) }}">
                <div class="form-group">
                    <input class="form-control" type="text" name="message" placeholder="Escribe tu mensaje">
                </div>
                <button class="btn btn-primary" type="submit">Enviar</button>
            </form>
            
        </div>
    </div>
    {% endif %}
    <a href="{{ url_for('dialogue') }}" class="btn btn-primary mt-3">Volver</a>
</div>    
{% endblock %}
