{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Crear Diálogo</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="/dialogue">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" name="dialogueId" placeholder="ID del diálogo" autofocus="">
                        </div>

                        <button class="btn btn-info btn-block btn-lg" type="submit">Crear Diálogo</button>
                    </form>
                    {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <form method="GET" action="/dialogue">
        <button class="btn btn-info btn-block btn-lg" type="submit">Ver diálogos</button>
    </form>
</div>
<div class="mt-5">
    <h2>Tus diálogos:</h2>
    <ul class="list-group">
        {% for dialogue in dialogues %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ dialogue.dialogueId }}</span>
            <a href="/dialogue/{{ dialogue.dialogueId }}" class="btn btn-primary btn-sm">Ver detalles</a>
            <a href="/dialogue/{{ dialogue.dialogueId }}/update_dialogue" class="btn btn-secondary btn-sm">Modificar</a>
            {% if dialogue.status != 'FINISHED' %}
            <form method="POST" action="/dialogue/{{ dialogue.dialogueId }}/delete_dialogue" style="display:inline;">
                <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('¿Estás seguro de que deseas cerrar este diálogo?');">Cerrar diálogo</button>
            </form>
            {% endif %}
            <a href="/dialogue/{{ dialogue.dialogueId }}/chat" class="btn btn-info btn-sm">Chatear</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
